<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.favorite.model.mapper.FavoriteMapper">

	<!-- 1. House -->
	<!-- 사용자 관심 주택 조회 -->
    <select id="getFavoriteHouseByUser" resultType="com.ssafy.home.favorite.model.FavoriteHouseDto">
        SELECT apt_seq AS aptSeq, house_type AS houseType
        FROM favorite_house
        WHERE user_no = #{userNo}
    </select>       

    <!-- 관심 매물 추가 -->
    <insert id="addFavoriteHouse">
        INSERT INTO favorite_house (user_no, apt_seq, house_type)
        VALUES (#{userNo}, #{aptSeq}, #{houseType})
    </insert>

    <!-- 관심 매물 제거 -->
    <delete id="removeFavoriteHouse">
        DELETE FROM favorite_house
        WHERE user_no = #{userNo} AND apt_seq = #{aptSeq} AND house_type = #{houseType}
    </delete>
    
    <!-- 관심 매물 여부 확인 -->
    <select id="isFavoriteHouse" resultType="int">
        SELECT COUNT(*)
        FROM favorite_house
        WHERE user_no = #{userNo} AND apt_seq = #{aptSeq} AND house_type = #{houseType}
    </select>

	<!-- 2. RealEstate -->
	<!-- 사용자 관심 매물 조회 -->
    <select id="getFavoriteRealEstateByUser" resultType="com.ssafy.home.favorite.model.FavoriteRealEstateDto">
        SELECT realestate_id AS realestateId, deal_category AS dealCategory, house_type AS houseType
        FROM favorite_realestate
        WHERE user_no = #{userNo}
    </select>

    <!-- 관심 매물 추가 -->
    <insert id="addFavoriteRealEstate">
        INSERT INTO favorite_realestate (user_no, realestate_id, deal_category, house_type)
        VALUES (#{userNo}, #{realestateId}, #{dealCategory}, #{houseType})
    </insert>

    <!-- 관심 매물 제거 -->
    <delete id="removeFavoriteRealEstate">
        DELETE FROM favorite_realestate
        WHERE user_no = #{userNo} AND realestate_id = #{realestateId} AND deal_category = #{dealCategory} AND house_type = #{houseType}
    </delete>

    <!-- 관심 매물 여부 확인 -->
    <select id="isFavoriteRealEstate" resultType="int">
        SELECT COUNT(*)
        FROM favorite_realestate
        WHERE user_no = #{userNo} AND realestate_id = #{realestateId} AND deal_category = #{dealCategory} AND house_type = #{houseType}
    </select>
</mapper>
