<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.house.model.mapper.HouseDealMapper">

    <!-- 특정 아파트의 모든 거래 정보 -->
    <select id="getDealsByAptSeq" resultType="com.ssafy.home.house.model.HouseDealDto">
        SELECT 
            no, apt_seq AS aptSeq, apt_dong AS aptDong, floor, deal_year AS dealYear,
            deal_month AS dealMonth, deal_day AS dealDay, exclu_use_ar AS excluUseAr, deal_amount AS dealAmount
        FROM ${tableName} 
        WHERE apt_seq = #{aptSeq}        	
        ORDER BY deal_year ASC, deal_month ASC, deal_day ASC
    </select>

    <!-- 특정 평형의 거래 정보 -->
    <select id="getDealsBySpace" parameterType="map" resultType="com.ssafy.home.house.model.HouseDealDto">
	    SELECT
	    	no, apt_seq AS aptSeq, apt_dong AS aptDong, floor, deal_year AS dealYear,
	    	deal_month AS dealMonth, deal_day AS dealDay, exclu_use_ar AS excluUseAr, deal_amount AS dealAmount
	    FROM ${tableName} 
	    WHERE apt_seq = #{aptSeq} 	    	
	    	AND exclu_use_ar = #{space}	    	
	    ORDER BY deal_year ASC, deal_month ASC, deal_day ASC
	</select>

</mapper>
