<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.house.model.mapper.HouseDealMapper">

    <!-- 최근 3개의 평균 거래 금액과 가장 많이 거래된 타입 -->
    <select id="getRecentDeals" resultType="com.ssafy.home.house.model.HouseDealDto">
        SELECT 
            exclu_use_ar AS excluUseAr, 
            AVG(CAST(REPLACE(deal_amount, ',', '') AS UNSIGNED)) AS dealAmount
        FROM housedeals
        WHERE apt_seq = #{aptSeq}
        GROUP BY exclu_use_ar
        ORDER BY COUNT(*) DESC, dealYear DESC, dealMonth DESC, dealDay DESC
        LIMIT 3
    </select>
</mapper>
