<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.search.model.mapper.SearchMapper">
    <!-- 지역 검색 -->
    <select id="searchRegion" parameterType="string" resultType="com.ssafy.home.search.model.RegionDto">
	    SELECT
	        sido_name AS sidoName,
	        gugun_name AS gugunName,
	        dong_name AS dongName,
	        latitude AS latitude,
	        longitude AS longitude
	    FROM
	        dongcodes
	    WHERE
	        sido_name LIKE CONCAT('%', #{keyword}, '%')
	        OR gugun_name LIKE CONCAT('%', #{keyword}, '%')
	        OR dong_name LIKE CONCAT('%', #{keyword}, '%')
	   	ORDER BY
	   		sido_name, gugun_name, dong_name
	</select>


    <!-- 주택 검색 -->
    <select id="searchHouse" parameterType="string" resultType="com.ssafy.home.search.model.HouseDto">
	    SELECT 
	        hi.apt_seq AS aptSeq,
	        hi.sgg_cd AS sggCd,
	        hi.umd_cd AS umdCd,
	        hi.umd_nm AS umdNm,
	        hi.jibun AS jibun,
	        hi.road_nm_sgg_cd AS roadNmSggCd,
	        hi.road_nm AS roadNm,
	        hi.road_nm_bonbun AS roadNmBonbun,
	        hi.road_nm_bubun AS roadNmBubun,
	        hi.apt_nm AS aptNm,
	        hi.build_year AS buildYear,
	        hi.latitude AS latitude,
	        hi.longitude AS longitude,
	        '아파트' AS houseType
	    FROM houseinfos hi
	    WHERE hi.apt_nm LIKE CONCAT('%', #{keyword}, '%')
	
	    UNION ALL
	
	    SELECT 
	        vi.apt_seq AS aptSeq,
	        vi.sgg_cd AS sggCd,
	        vi.umd_cd AS umdCd,
	        vi.umd_nm AS umdNm,
	        vi.jibun AS jibun,
	        vi.road_nm_sgg_cd AS roadNmSggCd,
	        vi.road_nm AS roadNm,
	        vi.road_nm_bonbun AS roadNmBonbun,
	        vi.road_nm_bubun AS roadNmBubun,
	        vi.apt_nm AS aptNm,
	        vi.build_year AS buildYear,
	        vi.latitude AS latitude,
	        vi.longitude AS longitude,
	        '빌라' AS houseType
	    FROM villainfos vi
	    WHERE vi.apt_nm LIKE CONCAT('%', #{keyword}, '%')
	
	    UNION ALL
	
	    SELECT 
	        oi.apt_seq AS aptSeq,
	        oi.sgg_cd AS sggCd,
	        oi.umd_cd AS umdCd,
	        oi.umd_nm AS umdNm,
	        oi.jibun AS jibun,
	        oi.road_nm_sgg_cd AS roadNmSggCd,
	        oi.road_nm AS roadNm,
	        oi.road_nm_bonbun AS roadNmBonbun,
	        oi.road_nm_bubun AS roadNmBubun,
	        oi.apt_nm AS aptNm,
	        oi.build_year AS buildYear,
	        oi.latitude AS latitude,
	        oi.longitude AS longitude,
	        '오피스텔' AS houseType
	    FROM officetelinfos oi
	    WHERE oi.apt_nm LIKE CONCAT('%', #{keyword}, '%')
	</select>

    <!-- dongcodes 테이블에서 sido_name, gugun_name, dong_name을 조회 -->
	<select id="getDongInfo" parameterType="map" resultType="map">
	    SELECT 
	        sido_name AS sidoName,
	        gugun_name AS gugunName,
	        dong_name AS dongName
	    FROM dongcodes
	    WHERE dong_code = CONCAT(#{sggCd}, #{umdCd})
	</select>
    
</mapper>
